* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}


.wrapper {
  
  background-size: cover;
  font-family: "Pathway Gothic One" , sans-serif;
  font-size: 14px;
  background-image: url("./img/page-bg.jpg");
  background-repeat: no-repeat;
  padding: 100px 0;
  background-position: center;
  }


  .content {
    width: 480px;
    background-color: #fff;
    background-position: center;
    margin: auto;
    padding: 60px 37px 44px;
    font-family: Arial, sans-serif;
    line-height: 17px;
    color: #1f3c4d;
}


.title {
 margin: auto
 }

h2{
  color: hsl(193, 81%, 23%);
  
  padding: 30px 10px
  }
  h3{
    color: hsl(193, 81%, 23%);
  
  padding: 70px 10px 20px
  }
  

h4 {
  color: hsl(194, 80%, 21%);
  
  padding: 5px 10px
}








.sub-title {
  margin: auto;
  
}


.text {
  
width: 300px;

}
.article:last-child {
  margin-bottom: 10px;
}


p {
  padding: 10px;
}
ul {
  list-style: none;
}

.menu 
{display: inline-block;
  line-height: 40px;
  width: 160px;
  padding: 5px

}

