* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
  }
  :root {
    --main-font-color: #263555;
    --second-font-color: #fff;
    --main-font-size: 16px;
    --main-font-weight: 400;
    --fat-font-weight: 600;
}

body {
    line-height: 1;
  display: block;
  }
  .header {
    position: relative;
    padding: 100px 50px;
}
  
.page {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 28px;
    background-image: url(../img/page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 400;
    line-height: 1.5;
  }
  
  /*-----HEADER-----*/
  .header {
    position: relative;
    padding:100px 50px;
  }
  
  .menu {
    text-transform: uppercase;
    text-align: center;
  }
  
  .menu-item {
    display: inline-block;
    position: relative;
    margin-right: 100px;
    border-bottom: 2px solid transparent;
  }
  
  
  .menu-item:last-child {
    margin-right: 0px;
  }
  
  .menu-item a {
    text-decoration: none;
    color: var(--second-font-color);
  }
  
  .menu-item:nth-child(3) {
    margin-right: 250px;
  }
  
  .menu-item a:hover {
    color: var(--main-font-color);
  }
  
  .menu-item:hover > .submenu {
    display: block;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 20px;
    background-color: var(--second-font-color);
    border-radius: 5%;
  }
  
  .submenu:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    transform: translateX(-5px) translateY(-5px);
    position: absolute;
  }
  
  .submenu-item a {
    color: var(--main-font-color);
    margin: 5px;
  }
  
  .logo {
    display: inline-block;
    background-color: #fff;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family: "Dorsa";
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
  
  .logo a {
    text-decoration: none;
    color: #263555;
  }
  
  /*-----MAIN-----*/
  .main {
    width: 1020px;
    margin: auto;
    padding: 60px 50px 140px 50px;
    background-color: #fff;
  }
  
  .section-carousel {
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  
  img {
    display: block;
    width: 100%;
  }
  
  .slick-arrow {
    border: 0;
    position: absolute;
    height: 50px;
    width: 60px;
    z-index: 2;
    background-color: #38afe5;
    color: var(--second-font-color);
    cursor: pointer;
  }
  
  .slick-arrow:hover {
    background-color: #fff;
    color: #38afe5;
  }
  
  .slick-prev {
    bottom: 50px;
    right: 960px;
    height: 40px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
  }
  
  .slick-prev::before {
    content: "\21a9";
    transform: translateX(54%) translateY(5%);
    position: absolute;
  }
  
  .slick-next {
    bottom: 50px;
    right: 0px;
    height: 40px;
    border-bottom-left-radius: 40%;
    border-top-left-radius: 40%;
  }
  
  .slick-next::before {
    content: "\21aa";
    transform: translateX(54%) translateY(5%);
    position: absolute;
  }
  
  .title {
    display: inline-block;
    font-size: 22px;
    color: var(--main-font-color);
    background-color: var(--second-font-color);
    padding: 10px;
    transform: translateX(0) translateY(-700%);
    position: absolute;
  }
  
  .subtitle {
    display: inline-block;
    font-size: 34px;
    color: var(--second-font-color);
    background-color: #38afe5;
    padding: 10px;
    transform: translateX(0) translateY(-448%);
    position: absolute;
  }
  
  .section h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--main-font-color);
  }
  
  .card-destinations {
    display: inline-block;
    margin-right: 10px;
    width: 32%;
    margin-right: calc(2% - 5px);
    position: relative;
  }
  
  
  
  .card-destinations:last-child {
    margin-right: 0px;
  }
  
  .pop-up-block {
    box-sizing: border-box;
    display: none;
    position: absolute;
    background-color: #193149;
    color: var(--second-font-color);
    font-size: 13px;
    z-index: 2;
    line-height: 1.5;
    text-align: center;
    font-weight: var(--main-font-weight);
    padding: 10px;
    text-align: right;
    width: 50%;
    height: 100%;
  }
  
  .pop-up-block p {
    font-weight: var(--main-font-weight);
    text-align: justify;
  }
  
  .pop-up-block h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: var(--main-font-weight);
    color: var(--second-font-color);
    margin-bottom: 15px;
    text-align: center;
  }
  
  .pop-up-block a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    background-color: #fff;
    border-radius: 10%;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    
  }
  
  .card-destinations:hover > .pop-up-block {
    display: block;
  }
  
  .to-top-bottom {
    position: fixed;
    bottom: 40px;
    right: 160px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #38afe5;
    border-radius: 100%;
    color: var(--second-font-color);
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
  }
  
  .to-top-bottom:before {
    content: "\21D1";
  }