
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}
.page {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 15px;
  background-image: url(../img/page-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  width: 950px;
  margin: auto;
  padding: 50px 37px 40px 37px;
  background-color: var(--main-background-color);
}



.header {
  width: 950px;
  margin: auto;
  position: relative;
}

.menu {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
}

.menu-item {
  align-items: center;
}

.menu-item:last-child {
  margin-right: 0px;
}

.menu-item a {
  text-decoration: none;
  color: var(--second-font-color);
}

.menu-item:nth-child(3) {
  margin-right: 250px;
}

.menu-item a:hover {
  color: var(--main-font-color);
  transition-duration: 0.2s;
}

.menu-item:hover > .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  font-size: 17px;
  background-color: var(--second-font-color);
  border-radius: 5%;
}

.submenu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  transform: translateX(-5px) translateY(-5px);
  position: absolute;
}

.submenu-item a {
  color: var(--main-font-color);
  margin: 2px;
}

.logo {
  background-color: var(--main-background-color);
  width: 140px;
  height: 140px;
  line-height: 140px;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Dorsa";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.logo a:hover {
  color: var(--hover-color);
  transition-duration: 0.2s;
}

.logo a {
  text-decoration: none;
  color: var(--main-font-color);
}



.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
  flex: 1 0 30%;
  padding-right: 15px;
  padding-bottom: 25px;
  position: relative;
}

.gallery li:nth-child(3n-3) {
  padding-right: 0px;
}

.gallery li:nth-child(n + 6) {
  padding-bottom: 0px;
}

.gallery img {
  display: block;
  width: 100%;
}

.section h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #193149;
  font-size: 24px;
}

.gallery li:hover .icon-zoom {
  display: block;
}

.gallery img:hover {
  filter: brightness(0.3);
  transition-duration: 0.3s;
}

.icon-zoom {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-image: url("http://image.ibb.co/ksq6pR/icon.png");
}



.nav-section {
  background-color: #30455b;
  width: 950px;
  margin: auto;
  padding: 40px 37px 20px 37px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 18px;
}

.menu-part {
  flex-basis: 75%;
  align-items: center;
  padding-left: 50px;
}

.contacts-part {
  flex-basis: 15%;
}

.menu-part ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-part li {
  flex-basis: 33%;
  justify-content: center;
}

.menu-part a {
  text-decoration: none;
  color: var(--second-font-color);
}

.contacts-part {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 18px;
}

.contacts-part a {
  flex-basis: 45%;
  text-decoration: none;
  color: var(--second-font-color);
}

.contacts-part a:hover {
  color: var(--hover-color);
}




.footer p {
  color: var(--second-font-color);
  text-align: center;
  font-size: 13px;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.social-icons img {
  display: block;
  height: 30px;
  margin-right: 10px;
}

.social-icons img:hover {
  transform: scale(1.5);
  transition-duration: 0.15s;
}

.social-icons a:last-child {
  margin-right: 0px;
}

.to-top-bottom {
  position: fixed;
  bottom: 225px;
  right: 205px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #38afe5;
  border-radius: 100%;
  color: var(--second-font-color);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
}

.to-top-bottom:before {
  content: "\21D1";
}

.to-top-bottom:hover {
  background-color: var(--hover-color);
}
